.col-sm {
    align-self: center;
    margin-top: 11px;
}

@media only screen and (max-width: 769px) {
    .row {
        flex-direction: column-reverse;
    }
    .web-content {
        display: none;
    }
    .mobile-content {
        font-family: Avenir;
        font-style: normal;
        font-weight: 900;
        font-size: 16px;
        line-height: 22px;
        /* identical to box height */
        align-self: center;
        color: #363E50;
    }
    .Tutor-button {
        padding-inline: none;
    }
}

@media only screen and (min-width: 769px) {
    .mobile-content {
        display: none;
    }
    .web-content {
        /* identical to box height */
        color: #363E50;
        align-self: center;
        font-family: Avenir;
        font-style: normal;
        font-weight: 600;
        font-size: 22px;
        line-height: 30px;
        margin-top: 1.5rem;
        /* identical to box height */
    }
}

.button-cta {
    font-family: Avenir;
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
    border-radius: 6px;
    width: 165px;
    height: 48px;
}

.button-red, .button-red:hover {
    background: #FF4646;
    color: white;
}

.Tutor-button {
    align-self: center;
    display: flex;
    padding-inline: 4.5rem;
}