.teachersignup .registerapplicaton {
    font-family: Avenir;
    font-style: normal;
    font-weight: 900;
    font-size: 28px;
    line-height: 38px;
    display: flex;
    align-items: center;
    color: #363E50;
}