.credentials {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;
    /* identical to box height, or 150% */
    /* Text Color / Color #3 */
    color: #777777;
    margin-bottom: 2rem;
}

.programs-display {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;
    /* or 150% */
    /* Text Color / Color #1 */
    color: #000000;
    margin-top: -1rem;
}