.bookademo {
    margin-top: 3.5rem;
    /* background: #F3F7FF; */
}

.bookademo .bookademoheader {
    margin-top: 3rem;
}

.bookademo .bookademoheader .flex-column {
    background: none;
    text-align: left;
}

.bookademo .bookademoheader .flex-column .ourpricing {
    font-family: Avenir;
    font-style: normal;
    font-weight: 800;
    font-size: 12px;
    line-height: 16px;
    color: #000000;
}

.bookademo .packages .flex-column {
    background: none;
}

.bookademo .packages .flex-column .parentlocation {
    font-family: Avenir-Next;
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 16px;
    color: #000000;
    text-align: center;
}

.bookademo .packages .flex-column .packageselection {
    font-family: Avenir;
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 33px;
    color: #32B9BB;
    text-align: center;
}

.bookademo .packages .packagedetails {
    margin-top: 3rem;
}

.bookademo .packages .packagedetails .card {
    width: 360px;
    height: 435px;
    border-radius: 4px;
    background: #fff;
    box-shadow: 0 6px 10px rgb(0 0 0 / 8%), 0 0 6px rgb(0 0 0 / 5%);
    transition: .3s transform cubic-bezier(.155, 1.105, .295, 1.12), .3s box-shadow, .3s -webkit-transform cubic-bezier(.155, 1.105, .295, 1.12);
    cursor: pointer;
}

.bookademo .packages .packagedetails .card:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0, 0, 0, .12), 0 4px 8px rgba(0, 0, 0, .06);
}

.bookademo .packages .packagedetails .card .list-group-item {
    color: black;
    align-self: center;
    text-align: center;
}

.bookademo .packages .packagedetails .card .list-group-item .flex-row {
    background: none;
    height: 23px;
}

.bookademo .packages .packagedetails .card .list-group-item .flex-row .startingat {
    font-family: Avenir;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 10px;
    color: #000000;
    margin-top: 0.5rem;
}

.bookademo .packages .packagedetails .card .list-group-item .flex-row .p-2 {
    padding: 0.5rem!important;
}

.bookademo .packages .packagedetails .card .list-group-item .flex-row .packagerate {
    font-family: Avenir;
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 33px;
    color: #000000;
}

.bookademo .packages .packagedetails .card .package_specification .list-group-item {
    font-family: Avenir;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 16px;
    color: #000000;
    justify-content: center;
}

.bookademo .packages .packagedetails .card .list-group-item .btn-primary:hover {
    height: auto!important;
    width: 100%!important;
}

.bookademo .skipbooking {
    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    color: #777777;
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    cursor: pointer;
}

.bookademo .leads {
    margin-top: 3rem;
}

.bookademo .leads .contact_heading {
    font-family: Avenir;
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 33px;
    display: flex;
    align-items: center;
    color: #32B9BB;
}

.bookademo .leads .btn-primary, .btn-primary:active .btn-primary:hover {
    border-color: #00ABBD;
    background: #00ABBD;
    border-radius: 6px;
    height: 48px;
    width: 160px!important;
    margin-top: 5rem;
}

.bookademo .leads .form-group .form-control, input {
    width: 556px;
    height: 60px;
    border-radius: 6px;
    border: 1px solid #C9CCD4;
    box-sizing: border-box;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 32px;
    color: #000000;
}

.bookademo  .selectedpackage {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bookademo .selectedpackage .card {
    width: 360px;
    height: 400px;
    left: calc(50% - 360px/2 - 11.5px);
    top: calc(50% - 400px/2 + 10px);
    background: #FFFFFF;
    border-radius: 7px 7px 0px 0px;
}

.bookademo .selectedpackage .card .list-group-item {
    color: black;
    align-self: center;
    text-align: center;
}

.bookademo .selectedpackage .card .list-group-item .flex-row {
    background: none;
    height: 23px;
}

.bookademo .selectedpackage .card .list-group-item .flex-row .startingat {
    font-family: Avenir;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 10px;
    color: #000000;
    margin-top: 0.5rem;
}

.bookademo  .selectedpackage .card .list-group-item .flex-row .p-2 {
    padding: 0.5rem!important;
}

.bookademo .selectedpackage .card .list-group-item .flex-row .packagerate {
    font-family: Avenir;
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 33px;
    color: #000000;
}

.bookademo .selectedpackage .card .package_specification .list-group-item {
    font-family: Avenir;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 16px;
    color: #000000;
    justify-content: center;
}

.bookademo .selectedpackage .parentlocation {
    font-family: Avenir-Next;
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 16px;
    color: #000000;
    text-align: center;
    margin-left: 9rem;
    margin-top: 1rem;
}

.pricingfilters {
    margin-top: 2rem;
}

.pricingfilters .filteroptionsheading {
    font-family: Avenir;
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 33px;
    color: #32B9BB;
}
.pricingfilters .form-group .form-control, input {
    width: auto;
    height: auto;
    margin-bottom: 0rem!important;
}
.pricingfilters .form-check-inline, label {
    margin-left: 2rem;
}
.pricingfilters .justify-content-md-center .btn-primary, .btn-primary:active, .btn-primary:hover {
    width: 160px;
    height: 48px;
}