.bookademo {
    margin-top: 3.5rem;
    /* background: #F3F7FF; */
}

.bookademo .bookademoheader {
    margin-top: 3rem;
}

.bookademo .bookademoheader .flex-column {
    background: none;
    text-align: left;
}

.bookademo .bookademoheader .flex-column .ourpricing {
    font-family: Avenir;
    font-style: normal;
    font-weight: 800;
    font-size: 12px;
    line-height: 16px;
    color: #000000;
}

.bookademo .packages .flex-column {
    background: none;
}

.packages .pricingpackagemobile .carousel-indicators li {
    background-color: grey;
}

.bookademo .packages .flex-column .parentlocation {
    font-family: Avenir-Next;
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 16px;
    color: #000000;
    text-align: center;
}

.bookademo .packages .flex-column .packageselection {
    font-family: Avenir;
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 33px;
    color: #32B9BB;
    text-align: center;
}

.bookademo .packages .packagedetails {
    margin-top: 3rem;
}

.bookademo .packages .packagedetails .card {
    width: 360px;
    height: 435px;
    border-radius: 4px;
    background: #fff;
    box-shadow: 0 6px 10px rgb(0 0 0 / 8%), 0 0 6px rgb(0 0 0 / 5%);
    transition: .3s transform cubic-bezier(.155, 1.105, .295, 1.12), .3s box-shadow, .3s -webkit-transform cubic-bezier(.155, 1.105, .295, 1.12);
    cursor: pointer;
}

.bookademo .packages .packagedetails .card:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0, 0, 0, .12), 0 4px 8px rgba(0, 0, 0, .06);
}

.pricingpackagemobile .carousel-caption {
    border-radius: 4px;
    background: #fff;
    box-shadow: 0 6px 10px rgb(0 0 0 / 8%), 0 0 6px rgb(0 0 0 / 5%);
    transition: .3s transform cubic-bezier(.155, 1.105, .295, 1.12), .3s box-shadow, .3s -webkit-transform cubic-bezier(.155, 1.105, .295, 1.12);
    cursor: pointer;
}

.pricingpackagemobile .carousel-caption:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0, 0, 0, .12), 0 4px 8px rgba(0, 0, 0, .06);
}

.bookademo .packages .packagedetails .card .list-group-item, .pricingpackagemobile .list-group-item {
    color: black;
    align-self: center;
    text-align: center;
}

.bookademo .packages .packagedetails .card .list-group-item .flex-row, .pricingpackagemobile .flex-row {
    background: none;
    height: 23px;
}

.bookademo .packages .packagedetails .card .list-group-item .flex-row .startingat, .pricingpackagemobile .startingat {
    font-family: Avenir;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 10px;
    color: #000000;
    margin-top: 0.5rem;
}

.bookademo .packages .packagedetails .card .list-group-item .flex-row .p-2, .pricingpackagemobile .p-2 {
    padding: 0.5rem!important;
}

.bookademo .packages .packagedetails .card .list-group-item .flex-row .packagerate, .pricingpackagemobile .packagerate {
    font-family: Avenir;
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 33px;
    color: #000000;
}

.bookademo .packages .packagedetails .card .package_specification .list-group-item {
    font-family: Avenir;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 16px;
    color: #000000;
    justify-content: center;
}

.bookademo .skipbooking {
    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    color: #777777;
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    cursor: pointer;
}

.bookademo .leads {
    margin-top: 3rem;
}

.bookademo .leads .contact_heading {
    font-family: Avenir;
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 33px;
    display: flex;
    align-items: center;
    color: #32B9BB;
    text-align: center;
}

.pricingfilters .numericinput {
    width: 150px!important;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 19px!important;
    color: black;
    position: relative;
}

.pricingfilters, .show_tutors .filteroptionsheading {
    font-family: Avenir;
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 33px;
    color: #32B9BB;
}

@media only screen and (min-width:769px) {
    .bookademo .selectedpackage .card .list-group-item {
        color: black;
        align-self: center;
        text-align: center;
    }
    .bookademo .leads .form-group .form-control, input {
        width: 556px;
        height: 60px;
        border-radius: 6px;
        border: 1px solid #C9CCD4;
        box-sizing: border-box;
        font-family: Inter;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 32px;
        color: #000000;
        margin-top: none;
    }
    .bookademo .selectedpackage .card .package_specification .list-group-item {
        font-family: Avenir;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 16px;
        color: #000000;
        justify-content: center;
    }
    .bookademo .selectedpackage .card {
        width: 360px;
        height: 400px;
        background: #FFFFFF;
        border-radius: 7px 7px 0px 0px;
    }
}

@media only screen and (max-width:769px) {
    .bookademo .leads .form-group, input {
        width: 245px;
        height: 40px;
        border-radius: 3px;
        font-family: Avenir;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 18px;
        /* identical to box height, or 150% */
        color: #000000;
        color: #000000;
        margin: auto;
        margin-top: 1rem;
    }
    .pricingfilters .numericinput, b {
        top: -0.8rem;
        height: 20px;
    }
    .pricingfilters, .show_tutors .filteroptionsheading {
        margin-left: 1rem;
    }
    .bookademo .leads form {
        margin-top: -2rem;
    }
    .bookademo .leads .container {
        margin-top: -3rem;
    }
    .bookademo .selectedpackage .card .list-group-item {
        color: black;
        align-self: center;
        text-align: center;
        font-family: Inter;
        font-style: normal;
        font-weight: normal;
        font-size: 10px;
        line-height: 16px;
        display: flex;
        color: #000000;
    }
    .bookademo .selectedpackage .card .package_specification .list-group-item {
        font-family: Avenir;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 12px;
        color: #000000;
        justify-content: center;
    }
    .bookademo .selectedpackage .card {
        width: 245px;
        height: 350px;
        background: #FFFFFF;
        border-radius: 7px 7px 0px 0px;
    }
}

.bookademo .selectedpackage {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bookademo .selectedpackage .card .list-group-item .flex-row {
    background: none;
    height: 23px;
    margin-top: -1rem;
}

.bookademo .selectedpackage .card .list-group-item .flex-row .startingat {
    font-family: Avenir;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 10px;
    color: #000000;
    margin-top: 0.5rem;
}

.bookademo .selectedpackage .card .list-group-item .flex-row .p-2 {
    padding: 0.5rem!important;
}

.bookademo .selectedpackage .card .list-group-item .flex-row .packagerate {
    font-family: Avenir;
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 33px;
    color: #000000;
    white-space: nowrap;
}

.bookademo .selectedpackage .parentlocation {
    font-family: Avenir-Next;
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 16px;
    color: #000000;
    text-align: center;
    margin-top: 1rem;
}

.pricingfilters {
    margin-top: 2rem;
}

.pricingfilters .form-group .form-control, input {
    width: auto;
    height: auto;
    margin-bottom: 0rem!important;
}

.pricingfilters .form-check-inline, label {
    margin-left: 2rem;
}

.tutorslist .displayed-text {
    color: black;
}

.tutorslist .flex-column {
    background: white!important;
    text-align: left;
}

@media only screen and (min-width: 769px) {
    .tutorslist .budget {
        font-family: Inter;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 18px;
        color: #777777;
        white-space: nowrap;
    }
    .tutorslist .container .card-img-top {
        width: 230px;
        height: 230px;
    }
    .tutorslist .card-img, .card-img-top {
        margin: auto;
    }
}

@media only screen and (max-width: 769px) {
    .tutorslist .row {
        flex-direction: row;
    }
    .tutorslist .container .card-img-top {
        width: 150px;
        height: 150px;
        margin-left: -0.5rem;
        margin-top: -1rem;
    }
    .tutorslist .container .card {
        width: 120%;
        height: 450px!important;
    }
    .bookademo .bookademoheader {
        margin-top: 0.5rem;
    }
    .tutorslist .budget {
        font-family: Inter;
        font-style: normal;
        font-weight: normal;
        font-size: 10px;
        line-height: 18px;
        color: #777777;
        white-space: nowrap;
    }
    .teacher-name {
        font-family: Avenir-Next;
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 34px;
        /* identical to box height, or 243% */
        color: #000000;
    }
    .teacher-bio {
        font-family: Avenir-Next;
        font-style: normal;
        font-weight: normal;
        font-size: 10px;
        line-height: 18px;
        color: #000000;
        margin-top: -1rem;
    }
}

.tutorslist svg {
    width: 15px!important;
    height: 15px!important;
}

.tutorslist .card-img-overlay svg {
    width: 28px!important;
    height: 28px!important;
}

.tutorslist .card-body .container {
    position: relative;
    color: white;
}

.tutorslist .card-img-overlay .teacherrating {
    position: absolute;
    bottom: 0.5rem;
    right: 4rem;
}

.tutorslist .card-img-overlay {
    background: #edf0f585;
    width: 250px;
    height: 10px;
    margin: auto;
    margin-left: 20px;
    position: absolute;
    bottom: -13.5rem;
    left: -20px;
}

.tutorslist .star-container {
    padding-right: 0rem!important;
    padding-left: 0rem!important;
}

.tutorslist .flex-row {
    background: none!important;
}

.tutorslist .students {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;
    color: #777777;
    white-space: nowrap;
}

.tutorslist .card:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0, 0, 0, .12), 0 4px 8px rgba(0, 0, 0, .06);
}

.tutorslist .card {
    border-radius: 4px;
    background: #fff;
    box-shadow: 0 6px 10px rgba(0, 0, 0, .08), 0 0 6px rgba(0, 0, 0, .05);
    transition: .3s transform cubic-bezier(.155, 1.105, .295, 1.12), .3s box-shadow, .3s -webkit-transform cubic-bezier(.155, 1.105, .295, 1.12);
    height: 550px;
    cursor: pointer;
}

.packagemobiletagline {
    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 10px;
    line-height: 16px;
    /* or 160% */
    display: flex;
    align-items: center;
    text-align: center;
    /* Text Color / Color #1 */
    color: #000000;
    justify-content: center;
    margin-top: 2rem;
}

.pricingpackagemobile .packagemobileheading {
    font-family: Avenir;
    font-style: normal;
    font-weight: 800;
    font-size: 10px;
    line-height: 14px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    color: #000000;
}

.booking-demo-appointment {
    margin-top: 5rem;
}

.booking-demo-appointment .AppointmentConfirmationHeading, .scheduledemo .AppointmentConfirmationHeading {
    font-family: Avenir;
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 33px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #32B9BB;
    justify-content: center;
}

.booking-demo-appointment .flex-row {
    margin-top: 3rem;
    background: none;
    justify-content: center;
}

.navigatedemo {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 16px;
    /* identical to box height, or 160% */
    display: flex;
    align-items: center;
    text-align: center;
    /* Text Color / Color #1 */
    color: #000000;
    cursor: pointer;
    margin-top: 3rem;
}

.teacher-info-name {
    top: 120px;
    font-family: Avenir;
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 12px;
}

.teacher-timezone {
    font-family: Avenir Next;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;
    /* or 150% */
    /* Text Color / Color #1 */
    color: #000000;
}