.mainheading {
    font-family: Avenir;
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 40px;
    text-align: left;
    color: #000000;
}

.ramazanprogramheading {
    font-family: Avenir;
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    text-align: center;
    color: #000000;
}

.ramazan-banner {
    margin-top: 3rem;
}

.ramazan-banner .justify-content-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 700%);
}

.ramazan-page .container, .ramazan-page .container-fluid, .ramazan-page .container-lg, .ramazan-page .container-md, .ramazan-page .container-sm, .ramazan-page .container-xl {
    padding-left: 0px!important;
    padding-right: 0px!important;
}

.programdetails {
    font-family: Avenir-Next;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 33px;
    display: flex;
    align-items: center;
    color: #000000;
}

.ramazanprogramdetails .justify-content-md-center {
    margin-top: 3rem;
}

.ramazan-page .button-red {
    width: 300px;
    height: 60px;
    font-size: 20px;
}

.impactdetails {
    font-family: Avenir;
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 40px;
    text-align: left;
    color: #000000;
}

@media only screen and (max-width: 769px) {
    .ramazan-page .ramazanprogramdetails img {
        width: 100%;
        height: auto;
    }
    .ramazan-page .impact-section img {
        width: 100%;
        height: auto;
    }
}

@media only screen and (min-width: 769px) {
    .ramazan-page .ramazanprogramdetails img {
        width: 553px;
        height: 375px;
    }
    .ramazan-page .impact-section img {
        width: 800px;
        height: 500px;
    }
    .payment-section {
        margin-top: 5rem;
    }
}

.impact-section {
    margin-top: 5rem;
}