.teacher-name {
    font-family: Avenir-Next;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 34px;
    color: #000000;
    margin-top: 1rem;
}

.teacher-bio {
    font-family: Avenir;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    /* or 150% */
    color: #000000;
    cursor: pointer;
    margin-top: -0.5rem;
}

.tutors-list .displayed-text {
    color: black;
}

.tutors-list .flex-column {
    background: white!important;
    text-align: left;
}

@media only screen and (min-width: 769px){
    .tutorslist .budget {
        font-family: Inter;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 18px;
        color: #777777;
        white-space: nowrap;
    }
}

@media only screen and (max-width: 769px) {
    .tutors-list .row {
        flex-direction: row;
    }
    .tutorslist .budget {
        font-family: Inter;
        font-style: normal;
        font-weight: normal;
        font-size: 10px;
        line-height: 18px;
        color: #777777;
        white-space: nowrap;
    }
    .teacher-name {
        font-family: Avenir-Next;
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 34px;
        /* identical to box height, or 243% */
        color: #000000;
    }
    .teacher-bio {
        font-family: Avenir-Next;
        font-style: normal;
        font-weight: normal;
        font-size: 10px;
        line-height: 18px;
        color: #000000;
        margin-top: -1rem;
    }
}

.tutorslist svg {
    width: 15px!important;
    height: 15px!important;
}

.tutorslist .card-img-overlay svg {
    width: 28px!important;
    height: 28px!important;
}

.tutors-list .card-body .container {
    position: relative;
    color: white;
}

.tutors-list .card-img-overlay .teacherrating {
    position: absolute;
    bottom: 0.5rem;
    right: 4rem;
}

.tutors-list .card-img-overlay {
    background: #edf0f585;
    width: 250px;
    height: 10px;
    margin: auto;
    margin-left: 20px;
    position: absolute;
    bottom: -13.5rem;
    left: -20px;
}

.tutorslist .star-container {
    padding-right: 0rem!important;
    padding-left: 0rem!important;
}

.tutorslist .flex-row {
    background: none!important;
}

.tutorslist .students {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;
    color: #777777;
    white-space: nowrap;
}



.tutors-list .paginationlist {
    margin-top: 4rem;
}

.tutors-list .card:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}

.tutors-list .card {
    border-radius: 4px;
    background: #fff;
    box-shadow: 0 6px 10px rgba(0, 0, 0, .08), 0 0 6px rgba(0, 0, 0, .05);
    transition: .3s transform cubic-bezier(.155, 1.105, .295, 1.12), .3s box-shadow, .3s -webkit-transform cubic-bezier(.155, 1.105, .295, 1.12);
    
    cursor: pointer;
}