.programs .card-text {
    font-family: Avenir;
    font-style: normal;
    font-weight: 800;
    font-size: 14px;
    line-height: 11px;
    flex-direction: row!important;
    justify-content: center;
    height: 70px;
}

.programs .card {
    max-height: 600px;
}

.card-text:last-child {
    max-height: 0%;
}

.programs {
    margin: auto;
}

.programs .list-group-item {
    justify-content: center;
    font-family: Avenir;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    /* line-height: 18px; */
    color: white;
    align-items: center;
    text-align: center;
}

.view-more{
    font-family: Avenir;
    font-style: normal;
    font-weight: normal;
    text-align: center;
    font-size: 14px;
    color: white;
    /* display: "flex";
    justify-content: flex-start; */
    cursor: pointer;
    margin-top: 2rem;
}
 .view-more:hover{
    /* background: red; */
    color: white;
    text-decoration: underline;
    display: "flex";
    justify-content: center;
    cursor: pointer;
}
.programs .card {
    width: 250px;
}

@media only screen and (max-width: 769px) {
    .programs {
        display: none;
    }
   
}
