.testimonial_slider .carousel-caption {
    text-align: center;
    color: black;
    position: relative;
    display: contents;
}

.h3, h3 {
    font-family: Avenir;
    font-style: normal;
    font-weight: 800;
    font-size: 12px;
    line-height: 16px;
    color: #000000;
    text-align: center;
}

.initials {
    font-family: Avenir;
    font-style: normal;
    font-weight: 800;
    font-size: 12px;
    line-height: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000000;
}

.testimonial {
    font-family: Avenir;
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 40px;
    text-align: center;
    color: #000000;
    /* background: #EDF0F5; */
}

.testimonial_slider  .carousel-control-next-icon {
    background-image: url(../images/Right.png);
    width: 56px;
    height: 56px;
    z-index: 400;
}

.testimonial_slider .carousel-control-next, .carousel-control-prev {
    z-index: 1000;
}

.testimonial_slider .carousel-control-prev-icon {
    background-image: url(../images/Left.png);
    width: 56px;
    height: 56px;
}

.testimonial_slider  .carousel-indicators li {
    box-sizing: content-box;
    flex: 0 1 auto;
    width: 7.47px;
    height: 8px;
    margin-right: 3px;
    margin-left: 3px;
    text-indent: -999px;
    cursor: pointer;
    background-color: #00ABBD;
    background-clip: padding-box;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    opacity: .5;
    transition: opacity .6s ease;
    border-radius: 50%;
}

@media only screen and (max-width: 769px) {
    .testimonial_slider .carousel-caption {
        position: unset;
        background: #00ABBD;
        text-align: left;
        padding: 4rem;
    }
    .testimonial_slider .carousel-indicators {
        justify-content: center;
    }
    .h3, h3 {
        font-family: Avenir;
        font-style: normal;
        font-weight: 800;
        font-size: 10px;
        line-height: 14px;
        color: black;
    }
    .testimonial {
        font-family: Avenir;
        font-style: normal;
        font-weight: 800;
        font-size: 16px;
        line-height: 26px;
        color: black;
        text-align: left;
    }
    .initials {
        font-family: Avenir;
        font-style: normal;
        font-weight: 800;
        font-size: 10px;
        line-height: 14px;
        color: black;
        justify-content: center;
    }
    .testimonial_slider .carousel-control-next-icon {
        display: none;
    }
    .testimonial_slider .carousel-control-prev-icon {
        display: none;
    }
    .testimonial_slider .carousel {
        background: #EDF0F5;
         margin-top: 3rem;
        height: 380px;
    }
}

@media only screen and (min-width: 769px) {
    .testimonial_slider .carousel {
        background: #EDF0F5;
        margin-top: 1rem;
        width: 550px;
        height: 400px;
    }
    .testimonial_slider .carousel-indicators {
        display: none;
    }
}